body {
    background-color: linear-gradient(to right red, blue);
}

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 25pt;
    margin: 2px;
    background: #607d8b;
    border: none;
    color: white;
}

#demo {
    background: linear-gradient(to right, red, blue);
    height: 100%;
}

a:link {
    color: rgb(255, 255, 255);
  }
  
a:visited {
    color: rgb(0, 0, 0);
}
  
a:hover {
    color: rgb(37, 59, 0);
}
  
a:active {
    color: blue;
} 